<div class="jumbotron">
  <h1 class="display-4">Welcome to Boox!</h1>
  <p class="lead">You can trade your books in here.</p>
  <hr class="my-4">
</div>

<div class="d-flex bd-highlight">
  <% @books.each do |book| %>
    <div class="card mr-2 mt-2" style="width: 18rem;">
      <div class="card-header"><b><%= book.title %></b></div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Author: <%= book.author %></li>
        <li class="list-group-item"><%= book.pagecount %> Pages</li>
        <li class="list-group-item">Owner: <b><%= book.user.username %></b></li>
      </ul>
    </div>
  <% end %>
</div>
