<div class="card m-2" style="width: 18rem;">
  <div class="card-header"><%= @trade.book.title %></div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><%= @trade.proposed_book.title %></li>
    <li class="list-group-item"><%= @trade.sender.username %></li>
    <li class="list-group-item"><%= @trade.status %></li>
  </ul>
</div>
